*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

img{
    width: 40%;
    cursor: pointer;
}

.video_presentation{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 25%;
    width: 50%;
    height: 490px;
}

.sonJT{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 36%;
}

.menu{
    padding-top: 15px;
    cursor: pointer;
}

header > nav{    
    position: sticky;
    padding-right: 10%;
}
header > nav ul{
    list-style-type: none;
}

header > nav ul li{
    float: right;
    text-align: left;
    position: relative;
}

header > nav > ul::after{
    content: "";
    display: table;
    clear: both;
}

header .sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    z-index: 10000;
}

header > nav > ul li:hover .sous{
    display: block;
}

header .sous li{
    float: none;
    width: 100%;
    text-align: left;
}

header .sous a{
    border-bottom: none;
}

header .sous a:hover{
    border-bottom: none;
}

.accueil{
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 600px;
}

.Bvn{
    margin-top: 0;
    margin-bottom: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: rgb(9, 186, 136);
    padding-left: 2%;
    padding-right: 2%;
}

.BvnTxt{
    padding-top: 30%;
    text-align: center;
    font-size: xx-large;
    color: white;
}

.BvnTxt button{
    width: 310px;
    height: 100px;
    background-color: pink;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    font-size:x-large;
}

.BvnTxt a{
    text-decoration: none;
    color: white;
}

.accueil .icone1{
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #506704;
    padding-left: 27%;
    padding-top: 27%;
}

.accueil .icone2{
    grid-column-start: 3;
    grid-row-start: 1;
    background-color: #A02772;
    padding-left: 27%;
    padding-top: 27%;
}

.accueil .icone3{
    grid-column-start: 4;
    grid-row-start: 1;
    background-color: #282F71;
    padding-left: 27%;
    padding-top: 27%;
}

.accueil .icone4{
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #2587B1;
    padding-left: 27%;
    padding-top: 27%;
}

.accueil .icone5{
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: #FB9302;
    padding-left: 27%;
    padding-top: 27%;
}

.accueil .icone6{
    grid-column-start: 4;
    grid-row-start: 2;
    background-color: #FD8AD8;
    padding-left: 27%;
    padding-top: 27%;
}

.accueil .icone7{
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: #E83F6B;
    padding-left: 27%;
    padding-top: 27%;
}

.accueil .icone8{
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: #198D43;
    padding-left: 27%;
    padding-top: 27%;
}

.accueil .icone9{
    grid-column-start: 4;
    grid-row-start: 3;
    background-color: #4EDEE2;
    padding-left: 27%;
    padding-top: 27%;
}

footer ul{
    height: 100px;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(52, 51, 51);
    text-decoration: none;
    color: white;
}

footer ul a{
    text-decoration: none;
    color: white;
}

footer .contact{
    display:flex;
    flex-direction:column;
}

main.contact{
    display: flex;
    justify-content: center;
    background-image: url(../Images/Image_de_fond.jpg);
}

.contactez-nous{
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
}
    
.contactez-nous > h1{
    font-weight: 500;
}
    
.contactez-nous > p{
    font-weight: 300;
}
    
form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
}
    
form div > label{
    margin-bottom: 7px;
    font-weight: 600;
}
    
form div > input, form div > select, form div > textarea{
    background: #129184;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

form div > input, form div > select{
    height: 50px;
    padding-left: 10px;
}
    
form div > textarea{
    height: 195px;
    max-width: 690px;
    max-height: 300px;
    padding: 15px 0px 0px 10px;
}
    
form div > input::placeholder, form div > textarea::placeholder {
    color: white;
}
    
form div > select:invalid {
    color: white;
}
    
form div > select option {
    background: white;
    color: #303030;
}
    
form div:last-child {
    align-items:flex-end;
    margin-top: 20px;
}
    
form button {
    width: 80px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 15px;
    color: #303030;
}

main .news{
    display: flex;
    justify-content: space-around;
}
main .news article{
    border: 2px solid plum;
    border-radius: 4%;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow:  5px 5px 32px #5e5e5e,
                -5px -5px 32px #ffffff;
}

main.informations{
    height: auto;
    margin-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

.description{
    display: flex;
    margin-top: 3%;
    margin-bottom: 2%;
}

.description .description2{
    padding-left: 8%;
}

.Partenaire{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    margin-top: 4%;
}

.Partenaire1{
    grid-column: 1 / 3;
    grid-row-start: 1;
    width: 100%;
}

.Partenaire2{
    grid-column: 3 / 5;
    grid-row-start: 1;
    width: 100%;
}

.Partenaire3{
    grid-column: 5 / 7;
    grid-row-start: 1;
    width: 100%;
}

.Partenaire4{
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
}

.Partenaire5{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
}

.Partenaire6{
    grid-column-start: 3;
    grid-row-start: 2;
    width: 100%;
}

.Partenaire7{
    grid-column-start: 4;
    grid-row-start: 2;
    width: 100%;
}

.Partenaire8{
    grid-column-start: 5;
    grid-row-start: 2;
    width: 100%;
}

.Partenaire9{
    grid-column-start: 6;
    grid-row-start: 2;
    width: 100%;
}

.Partenaire10{
    grid-column-start: 1;
    grid-row-start: 3;
    width: 100%;
}

.Partenaire11{
    grid-column-start: 2;
    grid-row-start: 3;
    width: 100%;
}

.Partenaire12{
    grid-column: 3 / 5;
    grid-row-start: 3;
    width: 100%;
}

.Partenaire13{
    grid-column-start: 5;
    grid-row-start: 3;
    width: 100%;
}

.Partenaire14{
    grid-column-start: 6;
    grid-row-start: 3;
    width: 100%;
}

.Partenaire15{
    grid-column-start: 1;
    grid-row-start: 4;
    width: 100%;
}

.Partenaire16{
    grid-column-start: 2;
    grid-row-start: 4;
    width: 100%;
}

.Partenaire17{
    grid-column-start: 3;
    grid-row-start: 4;
    width: 100%;
}

.Partenaire18{
    grid-column-start: 4;
    grid-row-start: 4;
    width: 100%;
}

.Partenaire19{
    grid-column-start: 5;
    grid-row-start: 4;
    width: 100%;
}

.Partenaire20{
    grid-column-start: 6;
    grid-row-start: 4;
    width: 100%;
}

.Partenaire21{
    grid-column-start: 1;
    grid-row-start: 5;
    width: 100%;
}

.Partenaire22{
    grid-column-start: 2;
    grid-row-start: 5;
    width: 100%;
}

.Partenaire23{
    grid-column-start: 3;
    grid-row-start: 5;
    width: 100%;
}

.Partenaire24{
    grid-column-start: 4;
    grid-row-start: 5;
    width: 100%;
}

.Partenaire25{
    grid-column-start: 5;
    grid-row-start: 5;
    width: 100%;
}

.en_construction{
    text-align: center;
}